.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

button {
  width: 25%;
}

table {
  width: 100%;
}
h2 {
    color: orange;
}
:host::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: white;
}

.calculator{
  background: linear-gradient(180deg, #7e7e7e 0%, #b8b8b8 100%);
  padding: 30px;
  /* background-color: rgb(169, 182, 182); */
  border: solid black 2px;
}